@import "tailwindcss";
@plugin "daisyui" {
    themes: light --default, black --prefersdark;
}
@plugin "@iconify/tailwind4";
:root {
    --background: #ffffff;
    --foreground: #171717;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
