@import "tailwindcss";
@plugin "daisyui" {
    themes: light --default, black --prefersdark;
}

:root {
    --background: #ffffff;
    --foreground: #171717;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
